<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345235871249-lhro178mjdh7afulot4r0ftf7q4plur0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345235871249-lhro178mjdh7afulot4r0ftf7q4plur0</string>
	<key>API_KEY</key>
	<string>AIzaSyBcHZZnaoBurWLME_bgka8zKCDJ3RIP9Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>345235871249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terasoltechnologies.aboutme360</string>
	<key>PROJECT_ID</key>
	<string>aboutme3600</string>
	<key>STORAGE_BUCKET</key>
	<string>aboutme3600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345235871249:ios:6bcd07264b483f8c4083b0</string>
	<key>DATABASE_URL</key>
	<string>https://aboutme3600.firebaseio.com</string>
</dict>
</plist>